div{
  font-size:  40px;
}
header{
  background-color: #71DFE7;
}
body{
    text-align: center;
    background-image:url("IMG.jpg");
    background-colo: #B91646;
    color: white;
    }
footer{
    background-color: #71DFE7;
  }
.kp {font-family: 'Dancing Script', sans-serif;
    font-size: 90% ;
    color: black ;
}
h2{
  font-size:1.4rem ;
  color: white;
}
h1{
  font-size: 100% ;
  color: black;
}
h4{
  font-size: 80% ;
  color: #71DFE7;
}
section{
  color: white;
}
p{
  font-size: 70%;
  color: white;
}
